@model ProjTeste.Web.Application.Conta.Model.ContaModel

@{
    ViewBag.Title = "Editar Conta";
}

<h2>Editar Conta</h2>


@using (Html.BeginForm("Put", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.Nome</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataCriacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataCriacao.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoConta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoConta")
            </div>
        </div>

        <input type="hidden" class="form-control text-box single-line" id="Saldo" name="Saldo" value="@Model.Saldo" />

        <input type="hidden" class="form-control text-box single-line" id="NumeroConta" name="NumeroConta" value="@Model.NumeroConta" />

        <input type="hidden" class="form-control text-box single-line" id="ContaId" name="ContaId" value="@Model.ContaId" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
