@model IEnumerable<ProjTeste.Web.Application.Conta.Model.ContaModel>

@{
    ViewBag.Title = "Lista de Contas";
}

<h2>Lista de Contas</h2>

<p>
    @Html.ActionLink("Nova Conta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroConta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroConta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ContaId }) |
            @Html.ActionLink("Opções", "Details", new { id = item.ContaId }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.ContaId })
        </td>
    </tr>
}

</table>
