@model ProjTeste.Web.Application.Conta.Model.OperacaoModel

@{
    ViewBag.Title = "Depositar";
}

<h2>Depositar</h2>


@using (Html.BeginForm("PostDeposito", "Operacao", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OperacaoModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Num_Operacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num_Operacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num_Operacao, "", new { @class = "text-danger" })
            </div>
        </div>   

        <div class="form-group">
            @Html.LabelFor(model => model.Num_Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num_Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num_Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_DataOperacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_DataOperacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_DataOperacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="hidden" class="form-control text-box single-line" id="Num_TipoOperacao" name="Num_TipoOperacao" value="@Model.Num_TipoOperacao" />

        <input type="hidden" class="form-control text-box single-line" id="Num_idConta1" name="Num_idConta1" value="@Model.Num_idConta1"/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Details", "Home", new { id = Model.Num_idConta1 }, "")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
